// Copyright 2023 Signal Messenger, LLC
// SPDX-License-Identifier: AGPL-3.0-only

.MessageTextRenderer {
  &__formatting {
    &--bold {
      font-weight: 600;
    }
    &--italic {
      font-style: italic;
    }
    &--monospace {
      font-family: monospace;
    }
    &--strikethrough {
      text-decoration: line-through;
      bdi {
        text-decoration: line-through;
      }
    }
    &--none {
      text-decoration: none;
      font-weight: 400;
      bdi {
        text-decoration: none;
      }
    }

    // Note: this should only render in the left pane, not in message bubbles
    &--keywordHighlight {
      font-weight: 600;
      // TODO: make the font a different, more saturated color as well?
    }

    // Note: Spoiler must be last to override any other formatting applied to the section
    &--spoiler {
      ::after {
        background-color: red;
      }
    }
  }
}
